#################################################################################################################
# This are the possible fields that you can use in a configuration file to create the rules used for labeling.
# Date
# start
# Duration
# Proto
# srcIP
# srcPort
# dstIP
# dstPort
# Flags
# Tos
# Packets
# Bytes
# Flows
#################################################################################################################
0 - Background:
    - srcIP=all
1 - Normal:
    - Proto=ARP
    - Proto=IGMP
2 - Botnet-DGA:
    - Proto=UDP & dstPort=53
    - Proto=UDP & srcPort=53
3 - Botnet-CC:
    - srcIP=10.0.0.151 & Proto=TCP
    - dstIP=10.0.0.151 & Proto=TCP
