#################################################################################################################
# This are the possible fields that you can use in a configuration file to create the rules used for labeling.
# Date
# start
# Duration
# Proto
# srcIP
# srcPort
# dstIP
# dstPort
# Flags
# Tos
# Packets
# Bytes
# Flows
#################################################################################################################
0 - Background:
    - srcIP=all
1 - Background-ARP:
    - Proto=ARP
2 - Botnet:
    - srcIP=10.0.2.15
    - dstIP=10.0.2.15
    - srcIP=10.0.2.17
    - dstIP=10.0.2.17
    - srcIP=10.0.2.18
    - dstIP=10.0.2.18
# Botnet-DNS means the botnet is using the standard DNS servers of the operating system to resolve queries.
3 - Botnet-DNS:
    - Proto=UDP & srcIP=10.0.2.17 & dstPort=53
    - Proto=UDP & dstIP=10.0.2.17 & srcPort=53
    - Proto=UDP & srcIP=10.0.2.15 & dstPort=53
    - Proto=UDP & dstIP=10.0.2.15 & srcPort=53
    - Proto=UDP & srcIP=10.0.2.18 & dstPort=53
    - Proto=UDP & dstIP=10.0.2.18 & srcPort=53
4 - Botnet-SPAM:
    - srcIP=10.0.2.17 & dstPort=25
    - dstIP=10.0.2.17 & srcPort=25
    - srcIP=10.0.2.15 & dstPort=25
    - dstIP=10.0.2.15 & srcPort=25
    - srcIP=10.0.2.18 & dstPort=25
    - dstIP=10.0.2.18 & srcPort=25
5 - Normal-IPV6:
    - srcIP=fe80::50be:8acf:be49:8c14 & dstIP=ff02::1:2
6 - Botnet-Spike:
    - Bytes=20000
    - Packets=50

